.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px groove #00000029;
    border-bottom: 4px groove rgba(0, 0, 0, 0.159);
    background-color: rgba(255, 255, 255, 0.608);
    padding: 2rem;
    height: 100vh; /* Ajusta para ocupar el 100% del viewport height */
    box-sizing: border-box; /* Asegura que el padding se incluya en la altura total */
}

.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.img-div img {
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.472);
    transition: background-color 0.3s ease;
}

.text-div {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.6rem; /* Ajusta el tamaño del texto */
    font-family: Calibri;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.heading-div legend {
    font-weight: 800;
    font-size: 2rem; /* Ajusta el tamaño del texto */
}

.main-text p {
    margin-bottom: 1rem;
}

/* Media Queries */

@media (min-width: 768px) {
    .faq {
        flex-direction: row;
        padding: 2rem;
    }

    .img-div {
        width: 50%;
    }

    .text-div {
        padding: 1rem;
        font-size: 1.4rem; /* Ajusta el tamaño del texto */
    }
}

@media (min-width: 1024px) {
    .faq {
        padding: 3rem;
    }

    .img-div {
        width: 50%;
    }

    .text-div {
        padding: 1.5rem;
        font-size: 1.6rem; /* Ajusta el tamaño del texto */
    }
}

@media (min-width: 1440px) {
    .faq {
        padding: 4rem;
    }

    .img-div {
        width: 50%;
    }

    .text-div {
        padding: 2rem;
        font-size: 1.8rem; /* Ajusta el tamaño del texto */
    }
}
